<div class="card-columns">
  <% obj.each do |article| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to article.title, article_path(article.id) %></h5>
      <p class="card-text"><%= simple_format(article.description) %></p>
      <% if article.categories.any? %>
        <p>Categories: <%= render article.categories %></p>
      <% end %>
      <p class="card-text d-flex justify-content-between">
        <small class="text-muted"><%= article.user.username %></small>
        <small class="text-muted"><%= time_ago_in_words(article.updated_at.strftime("%H:%M:%S, %B %d, %Y")).capitalize %> ago</small>
      </p>
    </div>
    <% if signed_in? && (article.user == current_user || current_user.admin?) %>
      <div class="card-footer d-flex justify-content-between">
        <%= link_to "Edit", edit_article_path(article), :class => "btn btn-sm btn-primary" %>
        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-sm btn-danger" %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
