<div class="row">
  <% obj.each do |article| %>
  <div class="col-md-4 mb-3">
    <div class="card article-excerpt">
      <div class="card-body">
        <h5 class="card-title"><%= link_to article.title, article_path(article.id) %></h5>
        <div class="card-content">
          <div class="card-content-detail">
            <%= simple_format(article.description) %>
          </div>
        </div>
        <% if article.categories.any? %>
          <p><%= render article.categories %></p>
        <% else %>
          <p><span class="badge badge-secondary">Uncategorized</span></p>
        <% end %>
        <p class="card-text d-flex justify-content-between">
          <small class="text-muted"><%= article.user.username %></small>
          <small class="text-muted"><%= time_ago_in_words(article.updated_at).capitalize %> ago</small>
        </p>
      </div>
      <% if signed_in? && (article.user == current_user || current_user.admin?) %>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to "Edit", edit_article_path(article), :class => "btn btn-sm btn-primary" %>
          <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
