<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Open blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navbar' %>
    <div class="container p-3">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <% if Rails.env.development? %>
      <div class="alert alert-secondary mt-auto">
        <%= debug(params)%>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
